class Zmx < Formula
  desc "Session attach/detach for the terminal"
  homepage "https://github.com/neurosnap/zmx"
  version "{ver}"
  license "MIT"

  on_macos do
    on_arm do
      url "https://zmx.sh/a/zmx-{ver}-macos-aarch64.tar.gz"
      sha256 "{shasum_macos-aarch64}"
    end
    on_intel do
      url "https://zmx.sh/a/zmx-{ver}-macos-x86_64.tar.gz"
      sha256 "{shasum_macos-x86_64}"
    end
  end

  on_linux do
    on_arm do
      url "https://zmx.sh/a/zmx-{ver}-linux-aarch64.tar.gz"
      sha256 "{shasum_linux-aarch64}"
    end
    on_intel do
      url "https://zmx.sh/a/zmx-{ver}-linux-x86_64.tar.gz"
      sha256 "{shasum_linux-x86_64}"
    end
  end

  def install
    bin.install "zmx"
    generate_completions_from_executable(bin/"zmx", "completions")
  end

  test do
    assert_match "Usage: zmx", shell_output("#{bin}/zmx help")
  end
end
